#cabeceraweb {
  background-color: chartreuse;
}

#navegacionprincipal {
  background-color: chocolate;
}

#elementos {
  background-color: chartreuse;
}

#contenido1 {
  background-color: yellow;
}

#figure1 {
  background-color: chartreuse;
}

#figura1f {
  background-color: chocolate;
}
