#cabeceraweb {
  background-color: gray;
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-top: 4px;
  padding-left: 400px;
}

#navegacionprincipal {
  background-color: gray;
 
  padding-top: 1px;
  padding-bottom: 4px;
}

#elementos {
  background-color:gray;
}

#contenido1 {
  background-color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

#figure1 {
  background-color: yellow;
 margin-left: 198px;
 margin-top: 1px;
 padding-left: 50px;
 padding-top: 34px;
 padding-bottom: 10px;
 margin-right: 0px;
}

#figura1f {
  background-color: rgb(35, 255, 6);
}

li {
  background-color: yellow;
  display: inline;
}

aside {
  float: left;
  height: 730px;
}