#cabeceraweb {
  background-color: gray;
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-top: 4px;
  padding-left: 400px;
}

#navegacionprincipal {
  background-color: gray;
 
  padding-top: 1px;
  padding-bottom: 4px;
}

#elementos {
  background-color:gray;
  font-size: 6mm;
}

#contenido1 {
  background-color: gray;
  margin-top: -37px;
}

#figure1 {
  background-color: yellow;
 margin-left: 198px;
 margin-top: -39px;
 padding-left: 85px;
 padding-top: 34px;
 padding-bottom: 28px;
 margin-right: 0px;
 
}

#figura1f {
  background-color: rgb(35, 255, 6);
  padding-top: 10px;
  margin-top: -16px;
}

li {
  background-color: yellow;
  display: inline;
  padding-bottom: 2px;
  margin-bottom: 5px;
  max-height: 4px;
}

aside {
  float: left;
  height: 729px;
}

p:only-child {
  font-size:10mm;
  
}

.flex-container{
   display: flex;
   flex-direction: row;
   background-color: burlywood;
   padding: 10px;
   border: 2px solid black
}

.flex-container div{
  background-color: gainsboro;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 2px solid black;
}
